{% extends "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Andrew Mellor - Data{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}

<div class="container">

<div class="page-header">
  <h1>Data <small>Data Sets and Other Resources</small></h1>
</div>

  {% for data in datasets %}
  
  <div class="well well-sm">

    <h2><span style="font-weight: bolder;">> {{ data.name }} ({{ data.short_name }})</span></h2>
    
    <p>{{data.desc}}</p>
    
    <ul style="margin-bottom: 1rem;">
      {% for entry in data.data %}
      <li><a href="./{{ entry.link }}">{{entry.name}} ({{ entry.short_name }})</a></li>
      {% endfor %}
    </ul>

    {% if data.citations|length > 0 %}
    <p>If you use this data, please cite the following paper/s:</p>
    <ol style="margin-bottom: 1rem;">
      {% for cite in data.citations %}
      <li>{{ cite|safe }}</li>
      {% endfor %}
    </ol>
    {% endif %}
  
  </div>
  
  {% endfor %}

{% block footer %}
{{super()}}
{% endblock %}

{% endblock %}