{% extends "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Andrew Mellor - Home{% endblock %}

{% block head %}
{{super()}}
<link rel="stylesheet" href={{ url_for('static', filename='twitter_graph.css') }}>
{% endblock %}

{% block scripts %}
{{super()}}
<script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
<script src={{ url_for('static', filename='twitter_graph.js') }}></script>
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}

<div class="container">

<div class="row">

  <div class="col-sm-8 col-md-8">
    <div class="well">
      <h1>Andrew Mellor</h1>
      <h4><i>Mathematician, Pythoneer, Cyclist </i></h4>
    </br>
      <p>
        PhD candidate at the <a href="http://www.maths.leeds.ac.uk/">University of Leeds</a>. My reasearch involves studying human online interactions, discerning patterns in behavior and assessing the importance of users to the system as a whole. In particular, I work with <a href="http://www.bloomagency.co.uk/">Bloom Agency</a> understanding the interaction of brands and users on social networks such as <i>Twitter</i>.</p>
      <p>I am a keen programmer, mainly programming in Python. I like to create scripts to do just about everything; data processing, model simulation, signing myself up to gym classes, and building websites (including <a href="https://github.com/empiricalstateofmind/personal_website">this website</a>). I am especially interested in visualisation tools and visualising networks and dynamics on them.</p> 
      <p>A Member of <a href="http://albarosacc.com/">AlbaRosa Cycling Club</a> I love to cycle, whether it is hill climbing, racing, or touring across the country. For those interested you can <a href="https://www.strava.com/athletes/1134670">follow me on Strava</a>. </p>  
    </br>  
  
  <div class="btn-group btn-group-justified" role="group" aria-label="...">
    <div class="btn-group" role="group">
  <a type="button" class="btn btn-primary" href={{ url_for('home.vitae') }}>Vitae</a>
    </div>
    <div class="btn-group" role="group">
  <a type="button" class="btn btn-primary" href={{ url_for('home.research') }}>Research</a>
    </div>
    <div class="btn-group" role="group">
  <a type="button" class="btn btn-primary" href="/blog">Blog</a>
    </div>
  </div>
    </div>
  </div>

  <div class="col-sm-4 col-md-4">
  <svg id="network" preserveAspectRatio="none" viewBox="0 0 500 500"></svg>
  </div>

</div>

{% block footer %}
{{super()}}
{% endblock %}

{% endblock %}