{% extends "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Andrew Mellor - Home{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}

<div class="container">
    <div class="row">

<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

    </div>

<div class="row">
<div class="col-sm-4 col-md-3"
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="col-sm-4 col-md-3"
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

<div class="col-sm-4 col-md-3"
<div class="jumbotron">
  <h1>Hello, world!</h1>
  <p>...</p>
  <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
</div>

</div>



</div>

{% block footer %}
{{super()}}
{% endblock %}

{% endblock %}