{% extends "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Andrew Mellor - Research{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}

<div class="container">

<div class="page-header">
  <h1>Research <small>Research and Other Interests</small></h1>
</div>

<!--     {% for interest in topics %}
    <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ interest.name }}</h3>
      </div>
      <div class="panel-body"> 
      
      {% for point in interest.points %}
       <p> {{ point }} </p>
      {% endfor %}   

      </div>
    </div>

    </div>
	{% endfor %}  -->

<div class="row">
<p>Complexity is a multidisciplinary field prompting exciting and challenging research questions and problems. Rigorous mathematical analysis of problems in complexity can help uncover fundamental truths, whilst also complementing the numerical and statistical techniques which are addressing the major physical and societal complex issues we have today and for the years to come. My research encompasses both of these approaches, providing practical methods and algorithms as well as further developing our understanding of temporal networks in general.</p>
<p>My research addresses current challenges in network science arising from a new abundance of fine-grained, temporal, and geospatial network data, primarily sourced from online social networks. My particular focus is on how temporal networks form as a result of individual behaviour, and how we can use measures and metrics to describe the role of nodes within a network.</p>
</div>

</div>

{% block footer %}
{{super()}}
{% endblock %}

{% endblock %}