{% extends "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Andrew Mellor - Research{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}

<div class="container">

<div class="page-header">
  <h1>Research <small>Research and Other Interests</small></h1>
</div>

    {% for interest in topics %}
    <div class="row">

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">{{ interest.name }}</h3>
      </div>
      <div class="panel-body"> 
      
      {% for point in interest.points %}
       <p> {{ point }} </p>
      {% endfor %}   

      </div>
    </div>

    </div>
	{% endfor %} 

</div>

{% block footer %}
{{super()}}
{% endblock %}

{% endblock %}