{% extends "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Andrew Mellor - Vitae{% endblock %}

{% block head %}
{{super()}}
{% include './home/publications_head.html' %}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}
<div class="container">
<div class="page-header">
  <h1>Portfolio <small>Curriculum Vitae, Publications, and Conferences</small></h1>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-pills nav-justified">
  <li><a href="#publications" data-toggle="tab">Publications</a></li>
  <li><a href="#conferences" data-toggle="tab">Conferences/Talks</a></li>
  <li><a href="#miscellaneous" data-toggle="tab">Miscellaneous</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

<div class="tab-pane fade" id="publications"> <br>

<div class="text-center">
<p>For a full list of publications please see my <a href="https://scholar.google.co.uk/citations?user=6X6NyfIAAAAJ&hl=en">Google Scholar Page</a>.</p>
</div>

{% for type, desc in [('preprint','Preprints and Under Review'), ('article', 'Journal Articles')] %}

<p>
  <h1> {{desc}} </h1>
</p>

  {% for pub in publications[type] %}

  <div class="well well-sm">

    <p> <b>{{ pub.title }} ({{ pub.date }}) </b>
      {% if pub.editors is defined %}
      <img src={{ url_for('home.static', filename="editors.png")}} alt="Editor's Choice" height=20px>
      {% endif %} <br>
      <i> {{ pub.authors }} </i></p>
    {% if pub.journal is defined %}
    <p><a href={{ pub.link }}>[{{ pub.journal }}]</a>
      {% endif %}
      <a href={{ pub.arxiv }}>[ArXiv]</a>
      <a href="#abstract_{{ loop.index }}_{{ type }}" data-toggle="collapse">[Show abstract]</a></p>
    <div id="abstract_{{ loop.index }}_{{ type }}" class="collapse">
      <p>{{ pub.abstract }}</p>
    </div>

  </div>

  {% endfor %}

{% endfor %}

</div>

<div class="tab-pane fade" id="conferences"> <br>

{% for type, desc  in [('invited','Invited Talks and Posters'), ('contributed', 'Contributed Talks and Posters'), ('school', 'Schools'), ('attended', 'Attended')] %}

  <p>
    <h1> {{desc}} </h1>
  </p>

  {% for conf in conferences[type] %}

    <div class="well well-sm">

    <p>
      <b>{{conf.title}}</b><br>
    <i>{{conf.location}}</i> ({{conf.date}})<br>
    {{conf.contribution}}<br>
    {% if conf.link is defined %} <a href={{conf.link}}>[Link]</a> {% endif %}
    {% if conf.presentation_title is defined %}
        <a href="#details_{{ loop.index }}_{{type}}" data-toggle="collapse">[Show details]</a></p>
        <div id="details_{{ loop.index }}_{{type}}" class="collapse">
          <p><b>Title: {{ conf.presentation_title }}</b><br>
          {{ conf.presentation_abstract }}
          </p>
        </div>
    {% else %}
        </p>
    {% endif %}
    </p>

    </div>

  {% endfor %}

{% endfor %}

</div>

<div class="tab-pane fade" id="miscellaneous"> <br>

  <p>
    <h1> Supervision & Teaching </h1>
  </p>

{% for teach in teaching %}

<div class="well well-sm">

  <p> {{ teach.project_award }} (<i>{{ teach.institution }}</i>)<br>
      <b>Student:</b> {{ teach.student }} ({{ teach.date }})<br>
      <b>Title:</b> {{ teach.title }}<br>
  </p>

</div>

{% endfor %}

  <p>
    <h1> Reviews </h1>
  </p>

  <div class="well well-sm">

    <ul>

    {% for review in reviewing %}
      <li>{{ review.name }} ({{ review.short_name }})</li>
    {% endfor %}

    </ul>

  </div>

</div>

</div>

{% block footer %}
{{super()}}
{% endblock %}

{% endblock %}