{% extends "basic.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Empirical Dashboard{% endblock %}

{% block head %}
{{super()}}
{% endblock %}

{% block scripts %}
{{super()}}
{% endblock %}

{% block styles %}
{{super()}}
{% endblock %}

{% block navbar %}
{{super()}}
{% endblock %}

{% block content %}

<div class="container">

<div class="page-header">
  <h1>Portfolio <small>Curriculum Vitae, Publications, and Conferences</small></h1>
</div>

<!-- Nav tabs -->
<ul class="nav nav-pills nav-justified">
  <li class="active"><a href="#cv" data-toggle="tab">Curriculum Vitae</a></li>
  <li><a href="#publications" data-toggle="tab">Publications</a></li>
  <li><a href="#conferences" data-toggle="tab">Conferences</a></li>
</ul>

<!-- Tab panes -->
<div class="tab-content">

  <div class="tab-pane fade in active" id="cv"> <br>
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Education</h3>
      </div>
      <div class="panel-body"> 
    
      {% for entry in cv.education %}
        <strong><p> {{ entry.school }}  ({{ entry.date }})</p></strong>
      {% for inf in entry.info %}
        <p> {{ inf }} </p>
      {% endfor %}
        </br>
      {% endfor %}   
    
        </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Work</h3>
      </div>
      <div class="panel-body"> 
      
        {% for entry in cv.work %}
        <strong><p> {{ entry.job }}  ({{ entry.date }})</p></strong>
      {% for inf in entry.info %}
        <p> {{ inf }} </p>
      {% endfor %}
        </br>
      {% endfor %}   

       
        </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Technology</h3>
      </div>
      <div class="panel-body"> 
      {% for entry in cv.tech %}
     <strong><p> {{ entry.skill }} </p></strong>
      {% for inf in entry.info %}
        <p> {{ inf }} </p>
      {% endfor %}
        </br>
      {% endfor %}        
        </div>
    </div>

    <div class="panel panel-primary">
      <div class="panel-heading">
        <h3 class="panel-title">Extra Curricular</h3>
      </div>
      <div class="panel-body"> 
      {% for entry in cv.extra %}
     <strong><p> {{ entry.item }} </p></strong>
      {% for inf in entry.info %}
        <p> {{ inf }} </p>
      {% endfor %}
        </br>
      {% endfor %}    
        </div>
    </div>



    </div>

<div class="tab-pane fade" id="publications"> <br>
{% for pub in publications %}

<div class="well well-sm">
<div class="row">
<div class="col-sm-4 col-md-3">
<div class="thumbnail"> <img src={{ url_for('static',filename=pub.image)}} alt="Publication Image">
<div class="caption">
</div>
<div class="panel-footer"> {{ pub.date }} </div>
</div>
</div>
<div class="col-sm-14 col-md-9">
<h3> {{ pub.title }} </h3>
<h6> {{ pub.authors }} </h6>  
<p> {{ pub.abstract }} </p>
<p>
{% if pub.journal is defined %}
<a href={{ pub.link }} class="btn btn-primary" role="button">{{ pub.journal }}</a>
{% endif %} 
<a href={{ pub.arxiv }}  class="btn btn-default" role="button">Arxiv</a></p>
</div>
</div>
</div>
{% endfor %}
</div>

<div class="tab-pane fade" id="conferences"> <br>
{% for conf in conferences %}
<div class="well well-sm">
<div class="row" >
<div class="col-sm-3 col-md-2 vcenter">
<div class="thumbnail"> <img src={{ url_for('static',filename=conf.image) }} alt="Conference Photo">

</div>
</div>
<div class="col-sm-15 col-md-10">
<h3>{{conf.title}}</h3> 
<h6> {{conf.location}} (<i>{{conf.date}}</i>)</h6> 
<h6><b> {{conf.contribution}} </b></h6>
<p> {{conf.abstract}} </p>
<p>

{% if conf.link is defined %}
<a href={{conf.link}} class="btn btn-primary" role="button">Link</a>
{% endif %}

{% if conf.resources is defined %}
<a href={{conf.resources}} class="btn btn-primary" role="button">Resources</a>
{% endif %}
</p>
</div>
</div>
</div>

{% endfor %}
  </div>

</div>

{% block footer %}
{{super()}}
{% endblock %}

{% endblock %}